.carousel__parallax-wrapper {
  grid-column-gap: 0.7rem;
  grid-row-gap: 1rem;
  border-radius: 24px;
  display: flex;
  overflow: auto;
}

.carousel__parallax-card-wrapper {
  min-width: 50%;
  border-radius: 24px;
  display: flex;
  overflow: hidden;
  transition: 0.3 ease;
}

.carousel__parallax-content {
  border-radius: 12px;
}
