@media screen and (min-width: 992px) {
  .fixed-drawer {
    z-index: 13 !important;
  }
  .main-container {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .fixed-top-app-bar {
    padding-bottom: 0 !important;
  }
}

.anchor {
  scroll-margin-top: 12vh;
}
